* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#i9oq79{
  padding:10px;
  font-family:Georgia, serif;
  text-align:center;
  line-height:85px;
  font-size:66px;
  width:1221px;
  margin:8px 0 0 0;
  float:none;
  border:#eeeeee #ffffff;
  color:#ffffff;
  height:99px;
  background-color:#5878db;
}
.row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding:10px;
}
.cell{
  min-height:75px;
  flex-grow:1;
  flex-basis:100%;
}
#ieyw{
  width:342px;
  height:127px;
  float:right;
  margin:0 16px 0 0;
  color:#000000;
  background-color:#5878db;
}
#i2ih8{
  float:none;
  color:#000000;
  background-color:#5878db;
}
#iuvb{
  flex-basis:134.8%;
  background-color:#5878db;
}
#ilor{
  float:none;
  background-color:#5878db;
  border:0 none #eeeeee;
}
#ilor{
  float:none;
  background-color:#5878db;
  border:1px solid black;
}
#i8c4an{
  padding:10px;
  font-family:Impact, Charcoal, sans-serif;
  font-size:14px;
  color:#ffffff;
  text-align:left;
  text-decoration:none;
  background-color:#395cba;
  border:3px solid rgb(255, 255, 255);
  border-radius:10px 10px 10px 10px;
}
#igmih6{
  flex-basis:457px;
  border-radius:0 0 0 0;
  border:6px solid black;
  float:none;
  background-color:#395cba;
}
#ildlwg{
  border:none black;
  background-color:#ffffff;
}
#izlkvs{
  list-style-type:disc;
  float:none;
}
#ivsbvz{
  padding:10px;
  float:none;
}
#ie2dog{
  border:5px solid black;
}
#iztl5a{
  padding:10px;
  overflow:scroll;
}
@keyframes fadeEffect{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
@media (max-width: 768px){
  .row{
    flex-wrap:wrap;
  }
}
